@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{

padding: 0px; /* margem interna */
margin: 0px;/* margem externa*/
box-sizing: border-box; /* muda estrutura de espaçamento*/
font-family:"Inter";

}

.titulo{

font-size: 76px;
font-weight: 400;
margin-bottom: 16px;

}

.page-container{

display: flex;

}

.robo-image{

height: 100vh;
width: 50vw;
background-image: url("../assets/imgs/robo-GPT.png");
background-size: cover;
background-position: 0px, 120px;
}

.login-container{

height: 100vh;
width: 50vw;                                                                                                      /*kit sobrevivenvia da centralizaçao*/
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}/*.classe{ ponto antes para classe

}

#id{           # andes para 

}

img{      so digitar o prefixo para a tag
*/


.login-container-img{
    
height: 60px;

}

.inpt{

padding: 18px;/*margem interna*/
background-color:#F7F9FB ;
width: 377px;
border: 1px solid #ccc;
border-radius: 10px;
margin-bottom: 16px;
}
 
.button{

    cursor: pointer;
border-radius: 10px;
color: #ffffff;
background-color: #1c1c1c;
width: 377px;
padding: 18px;
border: none;

}
